* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container .card_box .card figure img {
  width: 350px;
  height: 380px;
}

.card hr {
  width: 55px;
  height: 6px;
  background: var(--Accent, #f7654a);
  margin-top: 45px;
  margin-bottom: 15px;
}

.card h2 {
  color: var(--Dark, #404149);
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card p {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  width: 350px;
  height: 83px;
}

.card_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
